
text {
    text-anchor: middle;
    font: 10px sans-serif;
    pointer-events: none;
    opacity: 0;
}

h1{
    text-align: center;
}

circle {
    cursor: pointer;
}

#button-features {
    display: flex;
    justify-content: center;
}

#modal-button {
    position: fixed;
    right: 20px;
    top:20px;
}

.btn {
    margin: .5rem;
}
span {
    padding-left: 12px;
    padding-right: 10px;
    font-size: 2rem;
}

#yearValue{
    font-weight: bold;
}

#count {
    padding-left: 40px;
    font-size: 1.8rem;
}

.year-slider {
    width: 550px;
}
.slider-holder {
    display: flex;
    justify-content: center;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    display: flex;
    font-family: sans-serif;
    opacity: 1 !important;
}

#size-legend {
    position: fixed;
    left: 30px;
    bottom:50px;
}