
text {
    text-anchor: middle;
    font: 10px sans-serif;
    pointer-events: none;
    opacity: 0;
}

h1{
    text-align: center;
}

circle {
    cursor: pointer;
}

/* img {
    width: 200px;
} */

/* a {
    color: #FFF;
    font-weight: bold;
    display: block;
} */

#button-features {
    display: flex;
    justify-content: center;
}

#modal-button {
    position: fixed;
    right: 20px;
    top:20px;
}

.btn {
    margin: .5rem;
}
span {
    padding-left: 10px;
    font-weight: bold;
    font-size: 2rem;
}
.year-slider {
    width: 650px;
}
.slider-holder {
    display: flex;
    justify-content: center;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    display: flex;
    font-family: sans-serif;
    /* max-width: 500px; */
    opacity: 1 !important;
}
